<footer id="contact">
	<div class="container">
		<div class="footer-content">
			<div class="contact-info">
				<h3>Contact Information</h3>
				<p>Email: parthsaravade.acad + @gmail.com</p>
			</div>
			<div class="social-links">
				<h3>Connect with Me</h3>
				<ul>
					<li><a href="https://www.linkedin.com/in/parth-saravade-7662a2234/" target="_blank"
																						rel="noopener noreferrer">LinkedIn</a></li>
					<li><a href="https://github.com/PsychedelicOrange" target="_blank"
																	   rel="noopener noreferrer">GitHub</a></li>
					<li><a href="https://www.instagram.com/parth_saravade/">Instagram</a></li>
					<!-- Add more social links as needed -->
				</ul>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<p>&copy; 2024 Parth Saravade. All Rights Reserved.</p>
		</div>
	</div>
</footer>
