<footer id="contact">
	<div class="container">
		<div class="footer-content">
				<h3>Connect with Me</h3>
				 Email: 'parthsaravade.acad' + '@gmail.com' | Discord: @psychedelicorange | 
					<a href="https://www.linkedin.com/in/parth-saravade-7662a2234/" target="_blank"
																						rel="noopener noreferrer">LinkedIn</a> | 
					<a href="https://github.com/PsychedelicOrange" target="_blank"
																	   rel="noopener noreferrer">GitHub</a> |
					<a href="https://www.instagram.com/parth_saravade/">Instagram</a> ( I'm not active here )
					<!-- Add more social links as needed -->
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<p>&copy; 2025 Parth Saravade. All Rights Reserved.</p>
		</div>
	</div>
</footer>
