<!DOCTYPE html>	
<head>
	<!-- Metadata and boiler plate-->
		<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="description" content="article on parth's blog">
	<meta name="keywords" content="Parth Saravade Blog PsychedelicOrange PsyOrange">
	<meta name="author" content="Parth Saravade">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- to prevent Firefox FOUC, this must be here -->
	<script>
		let FF_FOUC_FIX;
	</script>

	<!-- Look and feel -->
		<!-- Favicon -->
	<link rel="icon" type="image/png" href="../optimized_assets/psy_halftone.png" />
		<!-- Template fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rozha+One&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
		<!-- Template styles -->
			<!-- Colors and fonts -->
	<!--<link rel="stylesheet" href="template/template.css">-->
	<link rel="stylesheet" href="template/retro.css">
			<!-- Structure and components-->
	<!--<link rel="stylesheet" href="template/structure.css">-->


</head>
<body>
	<!-- Website header -->
	{{header}}
	<!-- Article content from md file -->
	<div class='content'>
	{{content}}
	</div>
	<!-- Website footer -->
	{{footer}}
</body>
</html>
